{{ "hero-section" | asset_url | stylesheet_tag }}

<div class="hero-section">
  <div class="hero-section-inner">
     <img src="{{ "hero.png" | asset_url }}">
     <h1> vintage & thrift </h1>
  </div>
</div>


{% schema %}
  {
    "name": "Section name",
    "settings": [],

   "presets": [
     {
        "name": "Hero"
     }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
