<div class="hero-section">
  <div class="hero-section-inner">
     Hello World
  </div>
</div>


{% schema %}
  {
    "name": "Section name",
    "settings": [],

   "presets": [
     {
        "name": "Hero"
     }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
