{{ "moo-footer.css" | asset_url | stylesheet_tag }}

<footer class="moo-footer page-width"> hh
  {% for link in section.settings.footer_link %}
     <a href="{{ link.url }}">
      {{ link.title }}
     </a>
  {% endfor %}
</footer>

{% schema %}
  {
    "name": "Moo Footer",
    "settings": [
       {
         "type": "link_list",
         "id": "footer_link",
         "label": "Select your menu"
       }
     ],

    "presets": [
        {
          "name": "Moo Footer"
        }
     ]
  }
{% endschema %}


