<footer class="moo-footer">
  <div class="page-width moo-footer__links">
    {% for link in section.settings.footer_link.links %}
       <a href="{{ link.url }}">
          {{ link.title }}
       </a>
   {% endfor %}
</footer>

{% schema %}
  {
    "name": "Moo Footer",
    "settings": [
       {
         "type": "link_list",
         "id": "footer_link",
         "label": "Select your menu"
       }
     ],

    "presets": [
        {
          "name": "Moo Footer"
        }
     ]
  }
{% endschema %}


