{% style %}
   
    /* scroll to top button css */
  #toTop {
      position: fixed;
      bottom: 2rem;
      right: 2rem;
      width: 100px;
      height: 110px;
      z-index: 1000000;
      background: transparent;
      background-image: url({{ 'bubble-fave.svg' | asset_url }});
      background-size: cover;
      background-repeat: no-repeat;
      border: none;
      display: none;
      transition: 0.5s;
    }
    
    #toTop:before {
      content: "";
      position: absolute;
      top: 30px;
      left: 35px;
      width: 20px;
      height: 20px;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-bottom: 40px solid #fff;
      transition: 0.3s;
    }
    
   #toTop:hover:before{
      border-bottom: 40px solid #656363;
      cursor: pointer;
    }
    
   @media screen and (max-width: 768px){
     #toTop {
      width: 75px;
      height: 80px;
     }
    
      #toTop:before {
      top: 25px;
      left:30px;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-bottom: 30px solid #fff;
     }
    
      #toTop:hover:before{
      border-bottom: 30px solid #656363;
     }
    }
    
    .site-wrapper{
      overflow: hidden;
      width: 100%;
      position: relative;     
    }

     #toTop.active{
      display: block;
    }
{% endstyle %}

    <!-- scroll to top button -->
    <button href="#" id="toTop"></button>



 <!-- Jquery cdn link 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
-->

<!--   Scroll to top js -->
  <script>

//       $("#toTop").click(function () {
//         $("html, body").animate({scrollTop: 0}, 1000/*time paramiter*/);
//       })
      
      
      window.addEventListener("scroll", function(){
         const toTop = document.querySelector("#toTop");
        toTop.classList.toggle("active", window.scrollY > 200 );
      });
    

  </script>

