{{ "section-picks-week.css" | asset_url | stylesheet_tag }}


<div class="picks-week page-width">
  <div class="picks-week__inner">
    {% for product in section.settings.collection.products %}
    <h2> {{ section.settings.collection_name }} </h2>
    hello
    {% endfor %}
  </div>
  
</div>



{% schema %}
  {
    "name": "Picks Week",
    "settings": [
       {
          "type": "collection",
          "id": "collection",
          "label": "Select Collection"
       },
       {
          "type": "text",
          "id": "collection_name",
          "label": "Collection Title"
       }
    ],

    "presets": [
       {
         "name": "Picks Week"
       }
     ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
