{{ "section-picks-week.css" | asset_url | stylesheet_tag }}


<div class="picks-week page-width">
  <div class="picks-week__inner">
    {% for product in section.collection.products %}
    <h2> {{ product.title }} </h2>
    {% endfor %}
  </div>
  
</div>



{% schema %}
  {
    "name": "Picks Week",
    "settings": [
       {
          "type": "collection",
          "id": "collection",
          "label": "Select Collection"
       }
    ],

    "presets": [
       {
         "name": "Picks Week"
       }
     ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
