.hero-section{
  margin-top: 100px;
  width: 100%;
  position: relative;
}

.hero-section:before{
 position: absolute;
 content: "";
 top: 20%;
 left: 0;
 width: 100%;
 height: 60px;
 background-color: #E8EFFA;
}

.hero-section-inner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-section-inner img{
  width: 200px;
  z-index: 1;
}

.hero-collection__inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin: 50px auto;
}

.hero-collection__inner-content{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E8EFFA;
  width: 100%;
  height: 250px; 
  border-radius: 10px;
  border: 2px solid #000000;
}

.hero-collection__card:hover .hero-collection__inner-content__title{
  opacity: 0;
  transition: none;
}

@media screen and (max-width: 990px){
  .hero-section{
    margin-top: 50px;
 }
  
  .hero-section-inner img{
    width: 150px;
 }
  
 .hero-section:before{
    height: 45px;
    top: 15%;
 }

  

}