.collection-grid {
  margin: 100px auto;
}

.collection-grid__header{
  text-align: center;
  font-size: 40px;
}

.collection-grid__wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(380px, 1fr));
  gap: 20px;
}

.collection-grid__content{
  border: 4px solid rgb(var(--color-foreground));
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: ease-in-out 0.3s;
}
.collection-grid__card{
  text-decoration: none;
}

.collection-grid__content:hover {
 background-color: rgb(var(--color-foreground));
}


.collection-grid__content:hover .collection-grid__card-title {
  color: #fff;
}

.collection-grid__card-image{
 margin-top: 20px;
 width: 90%;
}

.collection-grid__card-title{
  margin: 0;
  font-size: 30px;
  font-weight: 600;
  color: rgb(var(--color-foreground));
  margin-bottom: 20px;
}


@media screen and (max-width: 768px){
  .collection-grid__card-image{
     width: 70%;
  }
  
  .collection-grid__header{
  font-size: 30px;
 }
}