.collection-grid {
  margin: 100px auto;
}

.collection-grid__header{
  text-align: center;
}

.collection-grid__wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(1fr, 1fr));
  gap: 30px;
  border: 2px solid rgb(var(--color-foreground));
}